DATABASE_URL="postgresql://user:password@host:5432/database?schema=public"
TELEGRAM_BOT_TOKEN="your_bot_token_here"
TELEGRAM_CHAT_ID="your_chat_id_here"
SMS_AERO_EMAIL="your_email_here"
SMS_AERO_API_KEY="your_api_key_here"
NEXT_PUBLIC_SITE_URL="https://avtohub161.ru"
