@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Шрифты */
    --font-unbounded: 'Unbounded', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-jetbrains: 'JetBrains Mono', monospace;

    /* Цвета */
    --color-primary: #E11D48;
    --color-secondary: #0F172A;
    --color-accent: #38BDF8;
    --color-background: #F8FAFC;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
